// @import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Shadows+Into+Light);
// @import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
// @import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);
// @import url(http://fonts.googleapis.com/css?family=Cabin);
// @import url(http://fonts.googleapis.com/css?family=PT+Sans);


$header-font: 'Open Sans';
$text-color: #333;
$color-two: #f8f8f8;
$color-three: white;

body {
	font-family: 'Gentium Book Basic';
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	font-weight: 800;
	text-transform: uppercase;
	// font-weight: 200;
}



// Shortcut for consistent & responsive spacing of sections
.unit-spacing {
	// padding-top: 60px;
	// padding-bottom: 60px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

// Shortcut for consistent & responsive spacing
.margin-five {
	margin-left: 5%;
	margin-right: 5%;
}


#sidebar {
	padding-top: 2em;
	padding-left: 2%;
	// padding-right: 1%;

	position: fixed;
	width: 20%;
	max-width: 240px;
	 // width: inherit;
  //   top:0;
  //   bottom: 0;
  //   // left: 0;
  //   // right: 0;

  //   margin: auto;
}


#main {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 2em;
	padding-bottom: 8em;
	// background-color: #fafafa;
	// background-color: #eee;
}

#home {
	margin-top: -2em;
	margin-bottom: -8em;
	color: white;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	background-position: center bottom;
	background-size: cover;
	background-image: url('img/quinn.jpg');
	height: 1400px;
}

#name-link {
	text-decoration: none;
}

#name {
	font-size: 1.25em;
	font-weight: 200;
	text-align: right;
	color: $text-color;
}

#outer-navbar {

	li {
		a {
			font-family: $header-font;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.2em;
			color: black;
			padding-top: .5em;
			padding-bottom: .5em;
			padding-left: 1em;
			// padding-right: 1em;
			text-align: right;
			font-weight: 800;
			color: $text-color;
		}

		a:hover {
			background-color: $color-two;
		}
	}

}



.color-one {

}

.color-two {
	background-color: $color-two;
}

.color-three {
	background-color: $color-three;
}

#signature {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5em;
	// float: right;
	width: 300px;

	float: left;
	margin-top: 0em;
}


footer {

	// margin-top: -8em;
	// color: white;

	nav {
		// margin-bottom: 2em;
		margin-bottom: .5em;
		li {
			a {
				// font-size: 1em;
				font-size: 1.2em;
				padding: .75em;
				text-transform: uppercase;
				text-decoration: none;
				font-family: $header-font;
				text-align: center;
				font-weight: 700;
				color: #333;
				
				// color: white;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}


	p {
		font-size: .9em;
		text-align: center;
	}
}

// Media queries



// When the top navbar doesn't all fit on one line anymore
@media (max-width: 700px) {

}


@include media-query(palm){ 

	#sidebar {
		position: relative;
	}

}

