// @import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Shadows+Into+Light);
// @import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
// @import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);
// @import url(http://fonts.googleapis.com/css?family=Cabin);
// @import url(http://fonts.googleapis.com/css?family=PT+Sans);


$header-font: 'Open Sans';
$body-font: 'Gentium Book Basic';
$top-padding: 2.5em;


$text-color: #333;
$text-lighter: #555;
$color-two: #f8f8f8;
$color-three: white;

$aqua: #5ab093;
$dark-aqua: #49997e;

$vgreen: #88d191;

$dark-gray: #333;
$medium-gray: #555;
$light-gray: #777;
$lighter-gray: #eee;
$lightest-gray: #fafafa;

body {
	font-family: $body-font;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	font-weight: 800;
	text-transform: uppercase;
	// font-weight: 200;
}



// Shortcut for consistent & responsive spacing of sections
.unit-spacing {
	// padding-top: 60px;
	// padding-bottom: 60px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

// Shortcut for consistent & responsive spacing
.margin-five {
	margin-left: 5%;
	margin-right: 5%;
}


#sidebar {
	padding-top: 2em;
	padding-left: 2.5%;
	padding-right: 2.5%;

	position: fixed;
	width: 25%;
	max-width: 300px;

	background-color: rgba(255, 255, 255, .6);
	height: 100%;

}


#main {
	// margin-left: 2%;
	// margin-right: 5%;
}

.content {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: $top-padding;
}

#home {
	// margin-top: -2em;
	// margin-bottom: -8em;
	color: white;
	// padding-top: $top-padding;
	font-size: 1.25em;
	// padding-left: 5%;
	// padding-right: 5%;
	background-position: center bottom;
	background-size: cover;
	background-image: url('img/quinn.jpg');
	height: 1400px;
}



#reel {
	background-color: black;
	color: white;
	// padding-top: $top-padding;
	// padding-left: 5%;
	// padding-right: 5%;
	padding-bottom: 2em;
	height: 100%;
	// margin-bottom: -8em;

	p {
		text-align: right;
		margin-top: 1em;
	}

}

#personal {
	white-space: nowrap;

}

.personal-image {
	padding-top: 2em;
	display: inline-block;
	margin-right: 4em;

	img {
		height: 500px;
		max-width: none;
	}
}

#name-link {
	text-decoration: none;
}

#name {
	font-size: 1.25em;
	font-weight: 200;
	text-align: right;
	color: $text-color;

	&:hover {
		color: $medium-gray;
	}

}

.post {
	padding-top: $top-padding;
	padding-bottom: 2.5em;
}

.post img {
	max-width: 100%;
	height: auto;
	margin-bottom: 1em;
}

.alignleft {
	float: left;
	margin-right: 1em;
}

.alignright {
	float: right;
	margin-left: 1em;
}

.post-break {
	margin-bottom: 1em;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px $lighter-gray;
}

.post-title {

	a {
		color: $aqua;
		text-decoration: none;

		&:hover {
			color: $dark-aqua;

		}

	}
}

.post-author {
	margin-top: 2em;
	margin-bottom: 0;
	font-size: 1em;
	color: $light-gray;
	font-weight: 300;
}

.post-time {
	font-family: $header-font;
	font-weight: 300;
	font-size: 1.25em;
	margin-bottom: 0;
}

#post-footer {
	padding-bottom: 10em;
}

#nav-container {

}

.nav-previous, .nav-next {
	display: inline-block;
	font-family: $header-font;
	font-size: 1.25em;
	text-transform: uppercase;
	text-align: center;
	margin-right: 1em;

	a {
		color: $aqua;
		text-decoration: none;

		&:hover {
			color: $dark-aqua;
		}
	}
}

.nav-next {

}


#outer-navbar {

	li {
		a {
			font-family: $header-font;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.2em;
			color: black;
			padding-top: .5em;
			padding-bottom: .5em;
			padding-left: 1em;
			// padding-right: 1em;
			text-align: right;
			font-weight: 800;
			color: $text-color;

			-webkit-transition: 0.15s ease;
			-moz-transition: 0.15s ease;
			-ms-transition: 0.15s ease;
			-o-transition: 0.15s ease;
			transition: all 0.15s ease;

		}

		a:hover {

			-webkit-transform: skew(-20deg,0deg);
			-mos-transform: skew(-20deg,0deg);
			-ms-transform: skew(-20deg,0deg);
			-o-transform: skew(-20deg,0deg);
			transform: skew(-20deg,0deg);

				// color: $text-lighter;
			}
		}

	}

	#social-navbar {
		@extend #outer-navbar;
		margin-top: 1.5em;
	// position: fixed;
	// bottom: 0px;

	li {
		a {
			font-size: 1em;
			font-weight: 200;
		}
	}

}

#signature {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5em;
	// float: right;
	width: 300px;

	float: left;
	margin-top: 0em;
}


.responsive-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
}

.responsive-container iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}



.commercial {

	margin-bottom: 6em;
	// display: table;
	display: block;

	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 250px;
	margin-left: auto;
	margin-right: auto;

}

#susanwiggs {
	background-image: url('./img/susan-logo-2.png');
	height: 150px;
}

#worldfilm {
	background-image: url('./img/prague-logo-2.png');
}

#swift {
	background-image: url('./img/swift-logo.png');
	height: 200px;
}

.commercial-text {
	display: none;
	// opacity: 0;
	// display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.25em;
}


.published {
	display: block;
	// background-color: $lightest-gray;
	// background-color: #639886;
	// padding-top: 2em;
	// padding-bottom: 2em;
	padding: $top-padding 2.5em 20em 2.5em;
	// padding-bottom: 8em;

	h3 {
		font-weight: 700;
		margin-bottom: .5em;
	}

	h4 {
		font-style: italic;
		font-weight: 400;
	}

	img {
		float: left;
		width: 180px;
		margin-right: 1.5em;
		margin-bottom: 1em;
	}

	p {

	}

	a {
		background-color: $medium-gray;
		// background-color: #639886;
		background-color: $aqua;
		// background-color: #88d191;
		padding: .75em 2.5em .75em 2.5em;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $header-font;
		float: right;

		-webkit-transition: 0.15s ease;
		-moz-transition: 0.15s ease;
		-ms-transition: 0.15s ease;
		-o-transition: 0.15s ease;
		transition: all 0.15s ease;
	}

	a:hover {
		background-color: $dark-aqua;
	}

}





footer {

	// margin-top: -10em;
	// padding-bottom: 2em;
	// background-color: inherit;
	// color: white;

	nav {
		// margin-bottom: 2em;
		margin-bottom: .5em;
		li {
			a {
				// font-size: 1em;
				font-size: 1.2em;
				padding: .75em;
				text-transform: uppercase;
				text-decoration: none;
				font-family: $header-font;
				text-align: center;
				font-weight: 700;
				color: #333;
				
				-webkit-transition: 0.15s ease;
				-moz-transition: 0.15s ease;
				-ms-transition: 0.15s ease;
				-o-transition: 0.15s ease;
				transition: all 0.15s ease;
			}

			a:hover {

				-webkit-transform: skew(-20deg,0deg);
				-mos-transform: skew(-20deg,0deg);
				-ms-transform: skew(-20deg,0deg);
				-o-transform: skew(-20deg,0deg);
				transform: skew(-20deg,0deg);

				// text-decoration: underline;
			}
		}
	}


	p {
		font-size: .9em;
		text-align: center;
	}
}


// Contact form

.wpcf7-form {
	p {
	// 	width: 100%;
	// max-width: 75%;
	// margin-left: auto;
	// margin-right: auto;
	}
}

label {
	width: 100%;
	max-width: 75%;
}

input, textarea {
	display: block;
	border: 2px solid $lighter-gray;
	padding: 5px; 
	width: 100%;
	max-width: 75%;
}

input {
	max-width: 50%;
}

input:focus, textarea:focus { 
	outline: none;
	border: 2px solid $aqua;
}

.wpcf7-submit {
	background-color: $aqua;
	padding: .75em 2.5em .75em 2.5em;
	font-size: 1.25em;
	font-weight: 300;
	text-transform: uppercase;
	font-family: $header-font;
	color: white;
	border: 0px;
	width: auto;

	&:hover {
		background-color: $dark-aqua;
	}
}

.wpcf7-response-output {
	margin: 0 !important;
	background-color: $light-gray;
	border: 0px !important;
	padding: 2em 2em 2em 2em !important;
	color: white;
	font-size: 1.25em;
	font-weight: 300;
	text-transform: uppercase;
	font-family: $header-font;
	width: auto !important;
}

.wpcf7-mail-sent-ok {
	background-color: $aqua;
}

.wpcf7-not-valid-tip-no-ajax {
	color: #ce5438 !important;
}

.wpcf7-validation-errors {
	background-color: #ce5438;
}

// End contact form


// Media queries



// When the top navbar doesn't all fit on one line anymore
@media (max-width: 800px) {

	#outer-navbar {

		li {

			a {
				font-size: 1em;

			}
		}
	}


	input, textarea, label {
		max-width: 100%;
	}

}

	@include media-query(palm){ 

		#sidebar {
			position: relative;
			width: 100%;
			max-width: none;
		}

		#outer-navbar {
			margin-top: 1em;
			margin-bottom: 1em;

			li {
				display: inline-block;
			}
		}

		#name {
		text-align: left;
		padding-left: 12px;

		}



		.personal-image {
			padding-top: 0;
			display: block;
			margin-right: 0;
			margin-bottom: 4em;

			img {
				max-width: 100%;
				height: auto;
			}

		}

	}

